/* Write your code here. */
.emo-card {
  background-color: #ffffff33;
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 9px;
  cursor: pointer;
}
.emo-img {
  height: 90px;
}
.emoji-button {
  background-color: transparent;
  border-width: 0px;
}
@media (max-width: 576px) {
  .emo-img {
    height: 60px;
  }
  .emo-card {
    height: 110px;
    width: 100px;
  }
}
